* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  background-color: #fff;
}

.navbar {
  width: 250px;
  height: 100vh;
  position: fixed;
  margin-left: -300px;
  background-color: #7952b3;
  transition: 0.4s;
}

.nav-link {
  font-size: 1.25em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.dropdown-menu {
  background-color: #7952b3;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}


/* for navbar */

.active-nav {
  margin-left: 0;
}


/* for main section */

.active-cont {
  margin-left: 250px;
}

#menu-btn {
  background-color: #7952b3;
  color: #fff;
}

#menu-btn:focus {
  box-shadow: 0 0 0 0.25rem #7952b344;
}

.unchecked a:hover{
  color:black
}

.checked{
  background-color:black;
  
}

 
